.Task {
  /*width: 50%;
  margin: 0 auto;*/
  text-align: left;
}

.Task input {
  margin-right: 1rem;
  margin-bottom: 0.825rem;
}

.Task label {
  color: black;
}

.Task i {
  display: none;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.Task:hover i {
  display: inline-block;
}
